.modal {
  max-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
  position: relative;
  box-shadow: 0px 0px 30px 10px rgba(61, 56, 46, 0.214);
  .info_block {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.535);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    .describe {
      text-align: center;
      max-width: 80%;
      color: rgba(255, 255, 255, 0.71);
    }
    .describe::first-letter {
      text-transform: capitalize;
    }
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(81, 78, 71, 0.451);
}
